
@{
}


<style>
    body
    {
        overflow-x: hidden;
    }

    .flex-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75vh; /* Adjust as necessary */
        text-align: center;
    }


    .bg-img
    {
        height: 70vh;
        width: 100vw;
        object-fit: cover;
        filter: brightness(0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .landing-title
    {
        font-family: Poppins;
        color: white;
        letter-spacing: 0.2em;
        line-height: 1.5em;
        text-align: center;
        font-size: 3.5vw;
        font-weight: bold;
    }
    
    .about-us
    {
        font-family: Poppins;
    }

</style>



@* Landing ------------------------------------------------------------------- *@
<div class="flex-container mt-0 pt-0">
    <img class="bg-img" src="~/images/about-us-bg.png" />
    <h1 class="landing-title mt-4"> ABOUT </br> ABARRO LAW OFFICE</h1>
</div>


@* About us contents *@
<div class="container d-flex flex-column align-items-center about-us" style="height: auto; margin-top: 2vh; "
    <div style="letter-spacing: 0.5em;">
        <h2>- ABOUT US -</h2>
    </div>

    <div class="container mb-5 pb-5 ps-5 pe-5" style="width: auto;">
        <div class="row mt-5 pt-3 d-flex justify-content-center">

            @* About Atty. Abarro *@
            <div class="col d-flex justify-content-center mb-5">
                <div class="container ms-0 ps-0 me-0 pe-0" style="width: auto;">
                    <img src="~/images/about-us-profile.png" style="height: 25vw;" />
                </div>

                <div class="container mb-4 align-items-center" style="width: auto;">
                    <h3 class="text-uppercase fw-bold mb-4">
                        ATTY. GILBERT N. ABARRO
                    </h3>
                    <p class="mb-4">
                        Atty. Gilbert Abarro is a graduate of the Philippine National Police Academy (PNPA) and served as a dedicated law enforcer
                        with the Philippine National Police (PNP) from 1997 to 2015. During his tenure, he specialized as a drug investigator and 
                        operative from 1998 to 2015, successfully arresting hundreds of drug offenders. He earned his law degree and master's while 
                        actively serving in the force. Atty. Abarro also contributed to the academic community as a professor at Navotas Polytechnic
                        College from 2011 to 2015, teaching Credit Transactions, Obligation and Contracts, Constitutional Law, and Labor Law.
                        <br> <br>
                        After retiring from the police force, Atty. Gilbert took on a pivotal role as an Election Officer at the Commission on Elections in
                        2015, where he continues to serve with distinction. His legal acumen is evidenced by his success in passing the bar exam, a significant
                        achievement given the challenging 36.77% pass rate in the Philippines. Atty. Gilbert's career highlights his unwavering commitment to 
                        public service, from enforcing the law and educating future legal minds to ensuring the integrity of the electoral process. 
                        His contributions underscore his dedication to justice and civic responsibility.
                    </p>
                </div>
            </div>




        </div>        
    </div>

</div>