@model AbarroLaw.Web.Models.ViewModels.AddCaseRequest


@{
    ViewBag.ShowFooter = false;
    ViewBag.ShowMessage = false;
}

<style>
    body {
        overflow-x: hidden;
    }

    .flex-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35vh; /* Adjust as necessary */
        text-align: center;
    }

    .bg-img {
        height: 35vh;
        width: 100vw;
        object-fit: cover;
        filter: brightness(0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #305160;
    }

    .landing-title {
        font-family: Poppins;
        color: white;
        letter-spacing: 0.2em;
        line-height: 1.5em;
        text-align: center;
        font-weight: bold;
    }

    .desc-area {
        height: 10vh;
        resize: none;
    }

    .container {
        font-family: Poppins;
    }
</style>


@* Landing ------------------------------------------------------------------- *@
<div class="flex-container mt-0 pt-0">
    <div class="bg-img"></div>
    <div class="container d-flex flex-column align-items-center content-wrapper">
        <h1 class="landing-title mt-5 pt-5">ADMIN - Add New Case</h1>
    </div>
</div>


@* Contents need to fill out ------------------------------------------------- *@
<div class="container py-5">
    <form method="post" onsubmit="return confirm('Are you sure to ADD this new practice area?');">

        @* Case Name *@
        <div class="container row mb-3">
            <div class="form-group">
                <label>Enter new case name:</label>
                <input type="text" class="form-control" id="caseName" asp-for="CaseName"/>
            </div>
        </div>

        @* Heading *@
        <div class="container row mb-3">
            <div class="form-group">
                <label>Enter heading:</label>
                <input type="text" class="form-control" id="heading" asp-for="Heading"/>
            </div>
        </div>

        @* Short Description *@
        <div class="container row mb-3">
            <div class="form-group">
                <label>Enter the short description:</label>
                <textarea class="form-control col-md-8 col-sm-12 desc-area" id="shortDesc" asp-for="ShortDescription" oninput="limitTextArea(this, 200)"></textarea>
                <p id="charLimitIndicator">Remaining characters: 200</p>
            </div>
        </div>

        @* Feature Image Upload *@
        <div class="container row mb-3">
            <div class="form-group">
                <label>Featured image upload:</label>
                <div class="input-group">
                    <input type="file" class="form-control" id="featuredImgUpload">
                    <input type="hidden" id="featuredImageFileName" asp-for="FeaturedImg" />
                </div>

                <img src="" id="featuredImageDisplay" style="display: none; width: 20vh;" />
            </div>
        </div>

        @* Feature Image URL *@
        <div class="container row mb-3">
            <div class="form-group">
                <label>Featured upload URL:</label>
                <input type="text" class="form-control" id="featuredImgUploadURL" readonly asp-for="FeaturedImgURL" />
            </div>
        </div>

        @* Practices *@
        <div class="container row mb-3">
            <div class="form-group">
                <label class="form-label">Choose practice area:</label>
                <select class="form-select" asp-items="@Model.Practices" asp-for="SelectedPractices"></select>
            </div>
        </div>

        @* Content *@
        <div class="container row mb-3 mt-0">
            <div class="form-group">
                <label class="form-label">Case Content</label>
                <textarea class="form-control" id="content" asp-for="Content"></textarea>
            </div>
        </div>
                
        @* Published Date *@
        <div class="container row mb-3">
            <div class="form-group">
                <label>Published Date:</label>
                <input type="date" class="form-control" id="featuredImageURL" asp-for="PublishedDate"/>
            </div>
        </div>

        @* Visible Checkbox *@
        <div class="container row mb-3 mt-0">
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault">
                        Visible?
                    </label>
                    <input class="form-check-input" type="checkbox" id="staticCheck" asp-for="Visible">
                </div>
            </div>
        </div>

        @* Submit button *@
        <div class="container row">
            <div class="col-auto ms-auto">
                <button type="submit" class="btn btn-success" asp-controller="AdminCase" asp-action="SubmitCase">Submit</button>
            </div>
        </div>

    </form>
</div>


@section Scripts
{
    <script>
        //Froala editor
        // Initialize the Froala Editor
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/images'
        });

        // for character indicator
        var charLimitIndicator = document.getElementById('charLimitIndicator');

        function limitTextArea(element, maxChars) {
            if (element.value.length > maxChars) {
                element.value = element.value.slice(0, maxChars);
                element.blur();

                charLimitIndicator.textContent = 'Maximum character limit reached.';
                charLimitIndicator.style.color = 'red';
            }
            else {
                charLimitIndicator.textContent = 'Remaining characters: ' + (maxChars - element.value.length);
                charLimitIndicator.style.color = 'black';
            }
        }


        //Image upload
        const featuredImgUploadElement = document.getElementById('featuredImgUpload');
        const featuredImageFileNameElement = document.getElementById('featuredImageFileName');
        const featuredImgUploadURLElement = document.getElementById('featuredImgUploadURL');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');


        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    //checking the link in console
                    console.log(result);

                    //Adjust the URL to remove the controller name
                    let imageUrl = result.link;
                    let currentUrl = window.location.href;
                    let controllerNameIndex = currentUrl.indexOf("AdminCase");

                    if (controllerNameIndex !== -1) {
                        //Remove controller name if it exist
                        let baseUrl = currentUrl.substring(0, controllerNameIndex);
                        imageUrl = baseUrl + imageUrl;
                    }

                    //for getting only the file name
                    const fileName = featuredImgUploadElement.files[0].name;

                    featuredImgUploadURLElement.value = result.link
                    featuredImageFileNameElement.value = fileName;
                    featuredImageDisplayElement.src = imageUrl;
                    featuredImageDisplayElement.style.display = 'block';

                });
        }
        featuredImgUploadElement.addEventListener('change', uploadFeaturedImage);


    </script>
}